<h1 mat-dialog-title>Hi</h1>
<div mat-dialog-content>
  <p>Are you going to add this item, is it right?</p>
  {{data.element.description}}
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button (click)="onYesClick(data.element)" cdkFocusInitial>Yeeeees</button>
</div>